<!-- Generated template for the PaginationComponent component -->
<ion-grid text-center *ngIf="total>pageSize">
  <ion-row>
    <ion-col no-padding>
      <button ion-button small [color]="color" [disabled]="pageNum==1"
              (click)="btnClick(1)" clear>首页
      </button>
      <button ion-button small [color]="color" [disabled]="pageNum==1"
              (click)="btnClick(pageNum-1)" clear>上一页
      </button>
      <button ion-button small [color]="color" clear>
        {{pageNum}}/{{ceil(total/pageSize)}}
      </button>
      <button ion-button small [color]="color" [disabled]="pageNum==ceil(total/pageSize)"
              (click)="btnClick(pageNum+1)" clear>下一页
      </button>
      <button ion-button small [color]="color" [disabled]="pageNum==ceil(total/pageSize)"
              (click)="btnClick(ceil(total/pageSize))" clear>尾页
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col no-padding style="font-size: 12px">
      共{{total}}条数据，每页显示{{pageSize}}条
    </ion-col>
  </ion-row>
</ion-grid>
