page-photo {
  .pictures {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin: 3px;
  }
  .pictures img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  .add {
    font-size: 25px;
    color: #5c5c5c;
    text-align: center;
    border: solid 1px #e0dfe4;
    line-height: 54px;
    vertical-align: middle;
    border-radius: 6px;
  }

}
